<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dashboardStyle.css">
</head>
<body>
    
    <div class="header">
        <h2> Welcome <%= user.firstname %> </h2>
        <button class="logout" onclick="window.location.href= '/logout' " > Logout </button>

        <% if( user.is_admin === false ){ %>

            <%if( user.membership === 'Member'){%>
                <h2> Click <a href="/clubadmin"> here</a> to login as admin</h2>    
            <%}%>
            
        <% } else{ %>
            <div class="memberCheck" >
                <img src="/assets/check.svg" class="check">
                <h2> Admin </h2>    
            </div>
            
        <% } %>

        <% if( user.membership === 'Member'){ %>
            <div class="memberCheck" >
                <img src="/assets/check.svg" class="check">
                <h2> Member </h2>
            </div>
            
        <% } else { %>
            <h2> <a href="/signup"> Sign up as member</a> </h2>
            <% } %>
    </div>

    <div class="newMessageDiv" >
        <button id="newMessage" onclick="generateForm()" >New Message +</button>
    </div>

    <div class="content">    
        <% user.data.forEach((value) => { %>
            <div class="messages">
                <h2> <%= value.title %> </h2>
                <h4> <%= value.content %> </h4>

                <% if(user.membership === 'Member'){ %>

                    <%user.names.forEach((element)=>{%>
                        <%if (element.user_id === value.user_id){%>
                            <div class="headerfour" >
                                <h4> - <%= element.firstname + " " + element.lastname %> </h3>
                                <h4> <%= value.created_at.toLocaleString() %></h3>
                            </div>

                       <% }%>
                    <%})%>
                <%}%>

                <%if ( user.is_admin === true){%>
                    <form action="/deleteMessage" method="post" >
                        <button name="buttonid" value="<%= value.id%>" class="deleteBtn"> Delete </button>
                    </form>
                <%}%>
            </div>
        <%})%>
        
            <form id="messageForm" class="hidden" method="post" action="/dashboard">
                <p> Title </p>
                <input type="text" name="title" placeholder="Title" />
                <p> Content </p>
                <textarea name="content" rows="5" cols="40"></textarea>
                <button type="submit"> Submit </button>
            </form>
    </div>

    <div class="footer">
          <p>© 2025 -Built with node.js & express</p>
    </div>


    <script>
        const overlay = document.getElementById('overlay');
        const toggleForm = document.getElementById("messageForm");
        const newmsgbtn = document.getElementById('newMessage')

        newmsgbtn.addEventListener("click", ()=>{

            toggleForm.classList.toggle("hidden");
            toggleForm.classList.toggle('visible');
            overlay.classList.toggle('overlayOpacity');
        })
    
    </script>
</body>
</html>